*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    min-height:100vh;
    padding:30px;
}

.container{
    max-width:1000px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:25px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:18px;
    margin-bottom:20px;
    box-shadow:0 0 20px rgba(0,255,255,0.08);
}

.card:hover{
    box-shadow:0 0 25px rgba(0,255,255,0.2);
}

h2{
    margin-bottom:15px;
    color:#38bdf8;
}

.matrix{
    display:grid;
    grid-template-columns:repeat(3,80px);
    gap:10px;
    margin-bottom:20px;
}

.vector{
    display:grid;
    grid-template-columns:repeat(3,80px);
    gap:10px;
    margin-bottom:20px;
}

input{
    background:#0f172a;
    border:1px solid #334155;
    color:white;
    padding:12px;
    border-radius:10px;
    text-align:center;
}

input:focus{
    outline:none;
    border-color:#38bdf8;
    box-shadow:0 0 15px rgba(56,189,248,.5);
}

.settings{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.settings div{
    flex:1;
}

label{
    display:block;
    margin-bottom:8px;
}

button{
    background:#38bdf8;
    border:none;
    color:white;
    padding:12px 24px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#0ea5e9;
}

.console{
    background:black;
    color:#00ff88;
    min-height:180px;
    padding:15px;
    border-radius:12px;
    overflow-y:auto;
    font-family:monospace;
}

.iterations{
    display:none;
    max-height:400px;
    overflow:auto;
    margin-top:15px;
}

.iteration{
    background:#0f172a;
    padding:12px;
    border-radius:10px;
    margin-bottom:10px;
}

.result{
    border:2px solid #38bdf8;
}

#solution{
    font-size:18px;
    line-height:2;
}

.success{
    color:#22c55e;
}

.error{
    color:#ef4444;
}

.collapseBtn{
    width:100%;
}
